<div class="container text-center mt-5 back" *ngIf="!pilots; else information">

  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

</div>

<ng-template #information>

  <div class="d-flex justify-content-center my-5 pb-3 m-auto" *ngFor="let pilot of pilots" style="max-width:1200px ;">

    <div class="card mx-3 general ">

      <div class="row g-3">

        <div class="col-12 col-sm-6 col-md-6">

          <img class="img-fluid imagen" 
               [src]=" pilot.url | pilots " 
               onerror="this.src='./assets/babyyoda.gif'"
               >
        </div>

        <div class=" col col-md-6 ">

          <div class="card-body container textBox h-100" >

            <div class="card-body textBox h-100">

            <h5 class="card-title mb-4">{{ pilot.name }}</h5>
            <p class="card-text">Birth year: {{ pilot.birth_year }} </p>
            <p class="card-text">Gender:     {{ pilot.gender     }} </p>
            <p class="card-text">Hair Color: {{ pilot.hair_color }} </p>
            <p class="card-text">Eye Color:  {{ pilot.eye_color  }} </p>
            <p class="card-text">Skin Color: {{ pilot.skin_color }} </p>

              <small>
                <a class="linkTarget" 
                [routerLink]="this.urlBack">Back to Star-Ship</a>
              </small>
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</ng-template>




