<app-header-page>  </app-header-page>


<div class="container back">

    <div class="container mt-5 smallBack">

        <div class="col text-center">
            <img src="./assets/logo_login.png" alt="logo_login" style="max-width: 25rem ;">
            
        </div>

        <div class="row text-center mt-3 text">
         <h3>ENTER YOUR EMAIL & PASSWORD</h3>
        </div>

<!-- FORM LOGIN -->
<form (ngSubmit)="loginFront()"
[formGroup]="loginForm"> 
    
    <div class="mb-3 col-11 m-auto">
    
        <div class="mb-3">
            <input type="email" 
                   class="form-control" 
                   id="exampleFormControlInput1" 
                   placeholder="name@starwars.com"
                   formControlName="email">
                   <span class="form-text text-danger mt-0 mb-0"
                   *ngIf="required('email')">Please enter your first name</span>
        </div>
        
        <div class="mb-0">

            <input type="password" 
                   class="form-control" 
                   id="exampleFormControlInput2" 
                   placeholder="*******"
                   formControlName="password">
                   <span class="form-text text-danger mt-0 mb-0"
                   *ngIf="required('password')">Please enter your first name</span>
        
        </div>
        <button class="btn mt-3 mb-5 col-12 submitBut" type="submit">Continue</button>
    
      </div>

</form>

        

        
    </div>
    
</div>



<app-footer></app-footer>
