<div class="back">

    
    <div class="container shipCard" >
        
        <div class="card text-bg-dark mb-4" 
        *ngFor="let item of ships" >
        
        <div class="card-body">
            <h5 class="card-title"> {{item.name}} </h5>
            <p class="card-text"> {{item.model}} </p>
            <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
        
    </div>
    
    <div class="p-3"></div>


</div>