.back{
    background-color:#2222227d;
    color: #aaa;
    overflow-y: scroll;
}

.shipCard{
    cursor: pointer;
}

.redLine {
    border: 1px solid #9e4f60;
    width: 50%;
}

.subHeader{
    color: #9e4f60;
}