<div class="back" 
     infinite-scroll 
     [infiniteScrollDistance]="distance" 
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScroll()"
     (scroll)="onScroll()"
     class="p-3">


  <div class="container shipCard mb-5">

    <div class="card back mb-4 col-md-8 col-lg-7 m-auto" 
         *ngFor="let item of ships" 
         [routerLink]="['/ships', item.id ]">

      <div class="card-body text-center">
        <h5 class="card-title"> {{item.name}} </h5>
        <p class="card-text subHeader"> {{item.model}} </p>
      </div>
    </div>

  </div>





</div>
