<app-header-page>  </app-header-page>


<div class="container back">

    <div class="container mt-5 smallBack">

        <div class="col text-center">
            <img src="./assets/logo_login.png" alt="logo_login" style="max-width: 25rem ;">
            
        </div>

        <div class="row text-center mt-3 text">
         <h3>CREATE YOUR ACCOUNT</h3>
        </div>

            <form class="mb-3 col-11 m-auto" 
                  [formGroup]="registerForm">

                <input type="text" 
                       class="form-control mb-3" 
                       id="exampleFormControlInput1" 
                       placeholder="First Name" 
                       name="fName">
                
                <input type="text" 
                       class="form-control mb-3" 
                       id="exampleFormControlInput2" 
                       placeholder="Last Name"
                       name="lName" >

                <input type="email" 
                       class="form-control mb-3" 
                       id="exampleFormControlInput3" 
                       placeholder="name@starwars.com"
                       name="email">

                <input type="password" 
                       class="form-control" 
                       id="exampleFormControlInput4" 
                       placeholder="*******"
                       name="password">

                <button class="btn mt-3 mb-3 col-12 submitBut" type="submit">Continue</button>

                <p class="pb-3 text-center small">Already have an account? 
                <a routerLink="/auth/login">Sign In</a></p>

              </form>
        

        
    </div>
    
</div>



<app-footer></app-footer>
