<div class="container text-center mt-5 back" *ngIf="!ships; else information">

  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

</div>

<ng-template #information>

  <div class="d-flex justify-content-center ">

  <div class="card mx-3 general" >

    <div class="row g-0">

      <div class="col-sm-5 col-md-6">

        <img class="img-fluid imagen" 
             [src]="imageUrl | imagenes: ships.id"
             onerror="this.src='./assets/babyyoda.gif'">   
        </div>

      <div class=" col-sm-7 col-md-6 ">

        <div class="card-body container textBox ">

          <h5 class="card-title mb-4">{{ ships.name }}</h5>
          <p class="card-text"> Model: {{ ships.model }}</p>
          <p class="card-text"> Manufacturer: {{ ships.manufacturer }}</p>
          <p class="card-text"> Passengers: {{ ships.passengers }}</p>
          <p class="card-text"> Starship Class: {{ ships.starship_class }}</p>

       <a class="linkTarget mt-1 pe-2 row justify-content-end " 
          routerLink="./ships/listado">Volver</a>

        </div>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="container-fluid col-11">

    <div class="row text-muted justify-content-center p-2 ">
        
        <div class="row imagen">
            <img class="img-fluid text-center imagen" 
            [src]   = "imageUrl | imagenes: ships.id" 
            onerror = "this.src='./assets/babyyoda.gif'">
        </div>

        <div class="col-11 redLine"></div>

        <div class="col-11 textBox pt-2 p-4">
            <div class="row  fs-4 text-light"> {{ ships.name }} </div>
            <div class="row"> Model: {{ ships.model }} </div>
            <div class="row"> Manufacturer: {{ ships.manufacturer }} </div>
            <div class="row"> Passengers: {{ ships.passengers }} </div>
            <div class="row"> Starship Class: {{ ships.starship_class }} </div>
           
            <a class="linkTarget  mt-1 pe-2 row justify-content-end" 
               routerLink="./ships/listado">Volver</a>
            
        </div>

    </div>   


<div>
    
</div>
</div> -->
</ng-template>
