<app-header-page></app-header-page>
<!-- sub-header main -->
<div class="text-center subHeader py-3">STREAM STAR WARS ON DISNEY+</div>

<div class="container-fluid mt-2">
    <img 
    class="img-fluid back"
    src="/assets/wallpa1.jpg" 
    alt="halloween">
</div>

<div class="container text-center">
    <img 
    class="img-fluid mt-3"
    src="https://lumiere-a.akamaihd.net/v1/images/hp-banner-halloween-mobile_8cfd0755.png?region=0,0,640,300" alt="halloween">
</div>


<app-footer></app-footer>

