<div class="container-fluid">

    <div class="row">

        <div class="col align-self-center mt-4">
            <div class="text-start">
                <p class="">Logos rrss</p>
            </div>
        </div>

        <div class="col-3 col-lg-2 image mt-3">
            <img src="/assets/Star-Wars-symbol.jpeg" 
                 alt="logo Star Wars" 
                 style="width:100%;" 
                 class="image"
                 routerLink="ships">
        </div>

        <div class="col align-self-center mt-4">
            <div class="text-end">
                <p class="">Login / Sign Up</p>
            </div>
        </div>

    </div>

    <div class="row links mt-3">

        <ul class="nav justify-content-center">

            <li class="nav-item ms-3">
              <a class="nav-link">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/ships/listado">Listado</a>
            </li>

          </ul>
    </div>

</div>


<router-outlet></router-outlet>